@use 'sass:map';

@forward './flex-config';
@forward './colors';

@use './colors' as colors;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', sans-serif !important;
  background: var(--main-background);
  color: var(--text-color);
}

//THEMES
.dark-mode {
  --main-background: #{map.get(colors.$colors, 'black100')};
}

.light-mode {
  --main-background: #{map.get(colors.$colors, 'light-gray100')};
}

//SNACKBAR
.snackbar-error {
  --mat-snack-bar-button-color: #ffffff;
  .mdc-snackbar__surface {
    background-color: #d32f2f !important;
  }
  .mat-mdc-snack-bar-label,
  .mat-mdc-button {
    color: #ffffff !important;
  }
}

.snackbar-success {
  --mat-snack-bar-button-color: #ffffff;
  .mdc-snackbar__surface {
    background-color: #2e7d32 !important;
  }
  .mat-mdc-snack-bar-label,
  .mat-mdc-button {
    color: #ffffff !important;
  }
}

.snackbar-info {
  --mat-snack-bar-button-color: #ffffff;
  .mdc-snackbar__surface {
    background-color: #0288d1 !important;
  }
  .mat-mdc-snack-bar-label,
  .mat-mdc-button {
    color: #ffffff !important;
  }
}

.snackbar-warning {
  --mat-snack-bar-button-color: #ffffff;
  .mdc-snackbar__surface {
    background-color: #ed6c02 !important;
  }
  .mat-mdc-snack-bar-label,
  .mat-mdc-button {
    color: #ffffff !important;
  }
}

p {
  margin: 0.15rem;
}

.overflow-auto {
  overflow: auto;
}

.text-align-center {
  text-align: center;
}

.font-weight-bold {
  font-weight: bold;
}

//CONTAINERS
.body-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-content {
  flex: 1;
  height: 100%;
  min-width: 0;
}

.component-container {
  height: 100%;
}

.list-container {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.modal-split-container {
  min-width: 20rem;
}

.modal-list-container {
  height: 15rem;
  overflow-y: auto;
}

//ITEMS
.list-item {
  border: 1px solid black;
  border-radius: 0.25rem;
}

input,
select,
textarea {
  font-family: 'Inter', sans-serif !important;
  min-height: 2rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid;
}
