@use 'sass:map';
@use './flex-config' as *;
@use './colors' as colors;

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Inter', sans-serif !important;
  background: var(--main-background);
  color: var(--text-color);
}

.dark-mode {
  --main-background: #{map.get(colors.$colors, 'black100')};
}

.light-mode {
  --main-background: #{map.get(colors.$colors, 'light-gray100')};
}
