@use 'sass:map';

@forward './flex-config';
@forward './colors';

@use './colors' as colors;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', sans-serif !important;
  background: var(--main-background);
  color: var(--text-color);
}

.dark-mode {
  --main-background: #{map.get(colors.$colors, 'black100')};
}

.light-mode {
  --main-background: #{map.get(colors.$colors, 'light-gray100')};
}

.snackbar-error {
  --mdc-snackbar-container-color: #d32f2f;
  --mdc-snackbar-supporting-text-label-text-color: #ffffff;
  --mdc-snackbar-action-label-text-color: #ffffff;
}

.snackbar-success {
  --mdc-snackbar-container-color: #2e7d32;
  --mdc-snackbar-supporting-text-label-text-color: #ffffff;
  --mdc-snackbar-action-label-text-color: #ffffff;
}

.snackbar-info {
  --mdc-snackbar-container-color: #0288d1;
  --mdc-snackbar-supporting-text-label-text-color: #ffffff;
  --mdc-snackbar-action-label-text-color: #ffffff;
}

.snackbar-warning {
  --mdc-snackbar-container-color: #ed6c02;
  --mdc-snackbar-supporting-text-label-text-color: #ffffff;
  --mdc-snackbar-action-label-text-color: #ffffff;
}

.overflow-auto {
  overflow: auto;
}

.body-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-content {
  flex: 1;
  height: 100%;
  min-width: 0;
}

.component-container {
  height: 100%;
}

.list-container {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.input {
  height: 2rem;
  border-radius: 0.25rem;
  border: 1px solid black;
}

.list-item {
  border: 1px solid black;
  border-radius: 0.25rem;
}
