@use 'sass:map';
@use '../../../global-styles/styles' as globalStyles;

.form-field {
  height: auto;
  width: 100%;
}

.form-error {
  ::ng-deep input.input,
  ::ng-deep select,
  ::ng-deep textarea {
    border: 2px solid #d9534f !important;
  }
}

.error-text {
  font-size: 0.7rem !important;
  color: #d9534f;
}
